<div class="newsletter-form mb-4">
  <h4 class="mb-3">Stay In The Loop! Subscribe to Our Newsletter.</h4>
  <p class="mb-3">Join our community of enthusiasts and stay informed. Just enter your email below, and we'll make sure you're always in the know!</p>

  <form action="" class="d-flex flex-column">
    <div class="form-group mb-2">
      <input type="email" id="email" placeholder="Your email address" class="form-control" />
    </div>
    <button class="btn" type="submit">Subscribe</button>
  </form>
</div>
