<a href="{{ .RelPermalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
  <div class="flex flex-column">
    {{ if .Params.image }}
    <div class="w-100 mb3">
      <img src="{{ .RelPermalink }}{{ .Params.image }}" alt="{{ .Title }}" class="db br2 w-100" />
    </div>
    {{ end }}
    <div class="w-100">
      <h2 class="f3 b lh-title mb1 primary">{{ .Title }}</h2>
      <p class="mid-gray lh-title mb2">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p class="mb0">{{ .Description }}</p>
      <p class="link b dib black mb0">Read more →</p>
    </div>
  </div>
</a>
